<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1 class="text-primary"><%= title %></h1>
  <p class="text-secundary">Bienvenido a mi aplicación Express con EJS.</p>
</body>
</html>
